In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv("dataset_raw.csv", index_col=0)

In [4]:
data_df.head()

                                              extracted_data
id
386123400  <html><head><meta http-equiv=\"Content-Type\" ...
386123500  <html><head><meta http-equiv=\"Content-Type\" ...
386129400  <html><head><meta http-equiv=\"Content-Type\" ...
386132200  <html><head><meta http-equiv=\"Content-Type\" ...
386133100  <html><head><meta http-equiv=\"Content-Type\" ...

In [5]:
data_df.to_pickle("dataset_raw.pkl")